.hero{
    background-color: rgb(12, 36, 25);
}

.box {
    position: relative;
    width: 700px;
    height: 700px;
  }
  
  .section {
    position: absolute;
    width: 48%;
    height: 48%;
    background-color: transparent;
    border: 1px solid #525252;
    transition: all 0.3s;
  }
  
  /* Rounded corners for each section */
  .section-rounded {
    border-radius: 20px;
  }
  
  /* Top Left Section Styling */
  .section-rounded.top-left {
    border-top-left-radius: 100%;
    top: 0;
    left: 0;
  }
  
  /* Bottom Left Section Styling */
  .section-rounded.bottom-left {
    border-bottom-left-radius: 100%;
    bottom: 0;
    left: 0;
  }
  
  /* Bottom Right Section Styling */
  .section-rounded.bottom-right {
    border-bottom-right-radius: 100%;
    bottom: 0;
    right: 0;
  }

  /* Example CSS for smoother transitions */
.transition-opacity {
    transition: opacity 1s ease-in-out;
  }

  .section:hover {
    border-color: gold;
  }
  
  