.hero{
  background-color: rgb(0, 0, 0);
}

.notBlur{
z-index: 99999999;
}
.box {
  position: relative;
  width: 700px;
  height: 700px;
}

.section {
  position: absolute;
  width: 48%;
  height: 48%;
  background-color: transparent;
  border: 1px solid #525252;
  transition: all 0.3s;
  
  
}

/* Rounded corners for each section */
.section-rounded {
  border-radius: 20px;
}

/* Top Left Section Styling */
.section-rounded.top-left {
  border-top-left-radius: 100%;
  top: 0;
  left: 0;
  background-color: transparent; /* Default background */
  transition: background-image 1s ease-in-out, background-color 1s ease-in-out;
  clip-path: path("M6% 100% C2% 100% 0% 96% 0% 92% C1% 70% 12% 48% 30% 30% C48% 12% 70% 1% 92% 0% C96% 0% 100% 2% 100% 6% L100% 92% C100% 96% 96% 100% 92% 100% L6% 100%");
}

/* Apply background image on hover */
.section-rounded.top-left:hover {
background-image: url(1.jpg);
  background-size: cover;
  background-position: center;
  
  /* body backgorund will be faded without this part */
}

/* Bottom Left Section Styling */
.section-rounded.bottom-left {
  border-bottom-left-radius: 100%;
  bottom: 0;
  left: 0;
}

/* Bottom Right Section Styling */
.section-rounded.bottom-right {
  border-bottom-right-radius: 100%;
  bottom: 0;
  right: 0;
}

/* Example CSS for smoother transitions */
.transition-opacity {
  transition: opacity 1s ease-in-out;
}

.section:hover {
  border-color: #97D587;
}

